html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.hide-overflow {
  overflow: hidden;
}
