html,
body {
  height: 100%;
}

body {
  font-family: "RobotoBold", sans-serif;
}

.visuallyHidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.hideOverflow {
  overflow: hidden;
}

button:disabled {
  cursor: default;
  pointer-events: none;
}

.display {
  border: 4px solid #999;
  border-radius: 3px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  span {
    text-transform: uppercase;
    margin-right: 10px;
  }
}

.button {
  width: 140px;
  height: 60px;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  transition: all 0.15s;
  * {
    position: relative;
    z-index: -1;
  }
}
