html,
body {
  height: 100%;
}

body {
  font-family: "RobotoBold", sans-serif;
}

.visuallyHidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.hideOverflow {
  overflow: hidden;
}

.mainContainer {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;

  display: grid;
  justify-items: center;
  gap: 90px;
  padding: 15px 0;
}

button:disabled {
  cursor: default;
}
