@import "fonts";
@import "vars";
@import "normalize";
@import "libs";
@import "global";

.display {
  border: 4px solid #999;
  border-radius: 3px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  span {
    text-transform: uppercase;
    margin-right: 10px;
  }
}

.button {
  width: 140px;
  height: 60px;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  transition: all 0.15s;
  * {
    position: relative;
    z-index: -1;
  }
}

@import "media";
