.pokerTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border-radius: 10px;
  background: radial-gradient(circle, #19a030 0%, #0f8c23 100%);
}
